/* src/pages/About.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    font-family: 'BPKinder', Arial, sans-serif;
    box-sizing: border-box;
  }
  
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  
  .about-text {
    flex: 1;
    max-width: 65%;
  }
  
  .about-text h1 {
    font-size: 100px;
    font-family: 'Committee', Arial, sans-serif;
    margin: 0 220px;
  }
  
  .about-text p {
    font-size: 28px;
    font-family: 'BPKinder', Arial, sans-serif;
    text-transform: uppercase;
    margin: 50px 210px;
    text-align: start;
  }
  
  .about-images {
    display: flex;
    align-items: flex-start;
  }
  
  .alexandre-image {
    width: 490px; /* Adjust size as needed */
    height: 650px;
    margin-right: 20px;
  }
  
  .etoile-image {
    width: 200px; /* Adjust size as needed */
    margin-left: 20px; /* Ensure it is next to the image */
    transition: transform 0.5s;
  }
  
  .etoile-image:hover {
    transform: rotate(180deg);
  }
  
  .cta-bar {
    width: calc(100% + 40px); /* Adjust for the padding in .about-container */
    margin-left: -20px; /* Counter the padding */
    background-color: #3036DB; /* Blue bar */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    flex-direction: column;
  }
  
  .cta-icon {
    width: 60px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .cta-text {
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    font-family: 'Committee', Arial, sans-serif;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  .cta-bar img,
  .cta-bar span {
    animation: bounce 2s infinite;
    cursor: pointer;
  }
  

  .accordion-sections {
    margin-top: 50px; /* Adjust this value to increase the space between cta-bar and the first accordion */
  }