.home {
    background-color: #E1DBD4;
    color: #1D1D1B;
    text-align: left;
    height: 100vh; /* La hauteur en vh reste inchangée */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 13.75rem; /* 220px */
    overflow: hidden;
}

.star-container {
    position: absolute;
    top: 9.375rem; /* 150px */
    left: 12.5rem; /* 200px */
}

.star-container img {
    transition: transform 0.5s ease; /* Ajoute la transition */
}

.star-container:hover img {
    transform: rotate(180deg); /* Rotation au survol */
}

.star-container:not(:hover) img {
    transform: rotate(0deg); /* Retour à la position initiale */
}

.star-image {
    width: 17.5rem; /* 280px */
}

.main-text {
    font-size: 6.875rem; /* 110px */
    font-family: 'Committee', Arial, sans-serif;
    line-height: 1.1;
    max-width: 100rem; /* 1600px */
    margin-top: 12.5rem; /* 200px */
    margin-bottom: 1.25rem; /* 20px */
    color: #1D1D1B;
    letter-spacing: 0.375rem; /* 6px */
}

.rolling-word {
    color: #3036DB;
    margin: 0 0.3125rem; /* 5px */
    transition: opacity 0.5s ease-in-out;
}
