.project-item {
  margin: 1.875rem 9.375rem; /* 30px 150px */
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.project-title {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
  width: 62.5rem; /* 1000px */
  white-space: nowrap;
}

.project-title h2 {
  font-size: 4rem; /* 64px */
  margin: 0;
  font-family: 'Committee', Arial, sans-serif;
  white-space: nowrap;
}

.project-category {
  margin-left: 1.25rem; /* 20px */
  font-size: 2.25rem; /* 36px */
  color: #1D1D1B;
  font-family: 'BPKinder', Arial, sans-serif;
  width: 31.25rem; /* 500px */
  text-align: left;
  white-space: nowrap;
  text-transform: uppercase;
}

.project-icon {
  width: 5rem; /* 80px */
  height: 5rem; /* 80px */
  margin-left: 25rem; /* 400px */
}

.project-icon:hover {
  transform: scale(1.2);
  filter: invert(30%) sepia(63%) saturate(5767%) hue-rotate(224deg) brightness(98%) contrast(98%);
  cursor: pointer;
}

.project-content {
  max-height: 0;
  max-width: 90%;
  font-family: 'COMMITTEE', Arial, sans-serif;
  font-size: 1.875rem; /* 30px */
  height: auto;
  overflow: hidden;
  opacity: 0;
  transition: max-height 1s ease, opacity 1.5s ease;
}

.project-content.open {
  max-height: 31.25rem; /* 500px */
  opacity: 1;
}

.project-image {
  width: 100%;
  max-width: 25rem; /* 400px */
  height: 25rem; /* 400px */
  margin-top: 1.25rem; /* 20px */
  margin-left: 1.25rem; /* 20px */
}

.project-divider {
  height: 0.25rem; /* 4px */
  background-color: #3036DB; /* Barre bleue */
  margin-top: 1.25rem; /* 20px */
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.625rem; /* 10px */
}

.project-tag {
  background-color: #3036DB;
  color: white;
  padding: 0.625rem 1.875rem; /* 10px 30px */
  margin-right: 0.625rem; /* 10px */
  margin-bottom: 0.625rem; /* 10px */
  font-size: 2rem; /* 32px */
  transform: rotate(-3deg);
  font-family: "BPKinder", Arial, sans-serif;
}

.project-details {
  display: flex;
  align-items: flex-start;
  margin-top: 1.25rem; /* 20px */
}

.project-description {
  margin-left: 1.25rem; /* 20px */
  flex: 1;
}

.read-more-button {
  background: none;
  border: none;
  color: #3036DB;
  cursor: pointer;
  font-size: 1.25rem; /* 20px */
  margin-top: 1.25rem; /* 20px */
  font-family: "COMMITTEE", Arial, sans-serif;
}

.read-more-button:hover {
  text-decoration: underline;
}
