body {
  overflow-x: hidden; /* Empêche le défilement horizontal sur toute la page */
}

.project-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-header {
  width: 72.75rem; /* 1164px */
  text-align: left;
  cursor: default;
  margin-bottom: 0.625rem; /* 10px */
}

.project-header h2 {
  color: #3036DB;
  font-size: 6rem; /* 96px */
}

.project-main-content {
  width: 72.75rem; /* 1164px */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3.75rem; /* 60px */
}

.project-main-image {
  width: 31.25rem; /* 500px */
  height: auto;
}

.project-description {
  width: 36.25rem; /* 580px */
  color: black;
  font-size: 1.625rem; /* 26px */
  font-family: 'BPkinder', Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
}

.project-description p {
  margin-bottom: 1.25rem; /* 20px */
}

.project-box3 {
  width: 72.75rem; /* 1164px */
  color: black;
  font-size: 1.5rem; /* 24px */
  font-family: 'BPkinder', Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
  margin-top: 1.25rem; /* 20px */
}

.project-images {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.project-sub-image {
  width: 62.5rem; /* 1000px */
  height: 62.5rem; /* 1000px */
}

.project-divider-custom {
  height: 0.25rem; /* 4px */
  width: 100rem; /* 1600px */
  background-color: #3036DB; /* Couleur différente pour le diviseur */
  margin-top: 3.125rem; /* 50px */
  margin-bottom: 1.875rem; /* 30px */
}

.project-divider-custom-2 {
  height: 0.25rem; /* 4px */
  width: 100%;
  background-color: #3036DB; /* Couleur différente pour le diviseur */
  margin-top: 3.75rem; /* 60px */
  margin-bottom: 1.875rem; /* 30px */
}

.project-options {
  display: flex;
  justify-content: flex-start; /* Aligner à gauche */
  width: 80%; /* Occuper toute la largeur disponible */
  margin-left: 0; /* Supprimez ou ajustez cette marge pour un alignement parfait */
  padding-left: 3.125rem; /* 50px */
  margin-bottom: 1.25rem; /* 20px */
}

.option-button {
  background: none;
  border: none; /* Retirer la bordure pour un look plus propre */
  color: black; /* Couleur par défaut */
  padding: 0.625rem 1.25rem; /* 10px 20px */
  cursor: pointer;
  font-size: 2.5rem; /* 40px */
  font-family: "COMMITTEE", Arial, sans-serif;
  margin: 0 0.625rem; /* Espacement horizontal entre les boutons */
  transition: color 0.3s; /* Transition de couleur en douceur */
}

.option-button.active {
  color: #3036DB; /* Couleur bleue pour le texte actif */
}

.option-button:hover {
  text-decoration: underline;
}

.option-content {
  margin-top: 1.25rem; /* 20px */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  margin-left: 9.375rem; /* 150px */
}

.nom-couleur {
  position: absolute;
  top: 0.3125rem; /* 5px */
  left: 0.625rem; /* 10px */
  font-weight: bold;
}

.color-box {
  position: relative;
  background-color: #f0f0f0;
  padding: 1.25rem; /* 20px */
  width: 25rem; /* 400px */
  height: 10rem; /* 160px */
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem; /* 20px */
  color: inherit;
}

.color-row {
  display: flex;
  margin-bottom: 0.625rem; /* 10px */
  gap: 3.125rem; /* 50px */
  margin-top: 2.5rem; /* 40px */
}

.color-column {
  display: flex;
  flex-direction: column;
}

.couleurs-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.color-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-label {
  font-size: 1.25rem; /* 20px */
}

.couleurs-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.color-description {
  margin-top: 1.25rem; /* 20px */
  font-size: 1.625rem; /* 26px */
  font-family: "BPKinder", Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: justify;
  width: 90%;
}

.typographie-content {
  display: flex;
  flex-direction: column;
}

.typography-item {
  font-size: 1.5rem; /* 24px */
  margin: 0.625rem 0; /* 10px 0 */
  padding: 0.625rem; /* 10px */
  border: 0.0625rem solid #ddd; /* 1px */
  border-radius: 0.5rem; /* 8px */
  display: flex;
  flex-direction: column; /* Colonne pour afficher les éléments l'un en dessous de l'autre */
  align-items: flex-start; /* Aligner à gauche */
}

.typography-content-wrapper {
  display: flex;
  width: 100%; /* Prend toute la largeur disponible */
  flex-direction: row; /* Empile les éléments verticalement */
  justify-content: space-evenly; /* Espacement égal entre les éléments */
}

.typo-name {
  font-size: 4.375rem; /* 70px */
  color: #3036DB; /* Couleur bleue */
  font-weight: bold;
  margin-top: 1.875rem; /* 30px */
  width: 35%;
}

.typo-style {
  font-size: 1.875rem; /* 30px */
  color: black; /* Couleur du texte */
  font-weight: bold; /* Gras */
  margin-top: 3.125rem; /* 50px */
  width: 15%;
  text-align: center;
  margin-right: 7.5rem; /* 120px */
}

.typo-sample {
  font-size: 1.875rem; /* 30px */
  color: black; /* Couleur du texte */
  font-weight: bold; /* Gras */
  width: 30%;
  overflow-wrap: break-word;
}

.typography-description {
  font-family: "BPKinder", Arial, sans-serif; /* Police de caractères */
  font-size: 1.75rem; /* 28px */
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 3.75rem; /* 60px */
  margin-bottom: 3.75rem; /* 60px */
  width: 100%;
  text-align: justify;
}

.project-image-layout {
  display: grid;
  margin-top: 3.125rem; /* 50px */
}

.project-image-layout.four-images {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 62.5rem); /* 1000px */
}

.project-image-layout.three-images {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 62.5rem 62.5rem; /* 1000px */
}

.layout-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-image-layout.grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.project-image-layout.banner-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.layout-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.layout-banner {
  grid-column: span 2;
  width: 100%;
  height: auto;
  object-fit: cover;
}
