/* src/App.css */
.App {
  text-align: center;
}

main {
  padding: 20px;
  background-color: #E1DBD4;
}

footer {
  background-color: #E1DBD4;
  padding: 10px;
  text-align: center;
}

footer p {
  color: #1D1D1B;
}
