@font-face {
  font-family: 'BPKinder';
  src: url('./fonts/BPkinder.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Committee';
  src: url('./fonts/COMMITTEE-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E1DBD4;
  color: #1D1D1B;
  font-family: 'BPKinder', Arial, sans-serif; /* Par défaut, utiliser la police TTF */
}

h1, h2, h3, h4, h5, h6 {
  color: #3036DB;
  font-family: 'COMMITTEE', Arial, sans-serif; /* Utiliser la police OTF pour les titres */
}

a {
  color: #3036DB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main-content {
  padding: 20px;
}
